@use "palettes/monochrome";

$contrast-using-dark-text:monochrome.$base-black !default;
$contrast-using-light-text:monochrome.$base-white !default;

$light-nuance-lighten-by:15% !default;
$light-nuance-desaturate-by:10% !default;
$dark-nuance-darken-by:15% !default;
$dark-nuance-saturate-by:15% !default;
$treshold-contrast-nuance:.69;

@function dark-nuance(
  $color,
  $darken-by:$dark-nuance-darken-by,
  $saturate-by:$dark-nuance-saturate-by,
) {
  @return saturate(darken($color, $darken-by), $saturate-by);
}

@function light-nuance(
  $color,
  $lighten-by:$light-nuance-lighten-by,
  $desaturate-by:$light-nuance-desaturate-by,
) {
  @return desaturate(lighten($color, $lighten-by), $desaturate-by);
}

@function text-contrast-nuance($color, $dark-text:$contrast-using-dark-text, $light-text:$contrast-using-light-text) {
  $count:red($color) + green($color) + blue($color);
  $max:256 * 3 * $treshold-contrast-nuance;
  @if $count < $max {
    @return $light-text;
  }
  @else {
    @return $dark-text;
  }
}
